.header {
  border-bottom: 1px solid var(--primary-btn-bord);
  padding: 16px;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: center;
  text-align: center;
  gap: 32px;
  font-family: var(--font-dmsans), monospace;
}

.navigation a {
  color: #f0f0f0;
  font-size: 16px;
}

.navigation a:hover {
  color: #dcdcdc;
}
