.listBody {
  width: 100%;
  overflow-y: scroll;
  max-height: 70vh;
  scrollbar-width: none;
  margin-bottom: 6px;
}

.itemBody {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
  border-bottom: 3px solid var(--second-btn-bord);
  border-radius: 29px;
  margin-bottom: 12px;
  background: var(--second-bg);
}

.itemBody:hover {
  background: var(--buttons-hover);
}

.itemTitle::before {
  content: '▲';
  padding: 5px 12px 0px 0px;
  font-size: 16px;
}

.itemTitle {
  display: flex;
  padding: 12px 24px;
  font-size: 22px;
  font-family: var(--font-dmsans);
}

.itemFields {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  font-family: var(--font-dmsans);
}

.itemTagBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemTag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  font-size: 14px;
  font-family: var(--font-dmsans);
  background: var(--core-color);
  border: 1px solid var(--core-bord);
  border-radius: 24px;
}
